@inherits LayoutComponentBase

<PageTitle>DataApiBuilderUi</PageTitle>

<div class="container">
    <div class="siteheader">
        <div class="logo">
            <img src="images/Production-Ready-Database.svg" alt="logo" />
        </div>
        <div>Database connections studio</div>
    </div>
    <div class="main">
        <div class="navigation">
            <NavMenu />
        </div>

        <div class="content">
            <main>
                <article class="content px-4">
                    <ErrorBoundary>
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent Context="ex">
                            <p class="error">@ex.Message</p>
                        </ErrorContent>
                    </ErrorBoundary>
                </article>
            </main>
        </div>
    </div>
</div>