@page "/"

<PageTitle>Index</PageTitle>

<h1>Data API builder Configuration Studio</h1>

<p style="margin-bottom: 1rem;">
    Navigate to the different sections on the left to easily view, edit and publish parts of your Data API builder configuration file.
</p>
