<h3>JwtAuthenticationComponent</h3>
<div class="config-container">
    <textarea>hi</textarea>
    <FluentTextField Label="ProviderName"></FluentTextField>
    <FluentTextField Label="Audience"></FluentTextField>
    <FluentTextField Label="Authority"></FluentTextField>
</div>
@code {

}
